.con img{
    border-radius: 50px;
}
.img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: darkslategray;
    padding: 10px;
}
.heading{
    font-size: xx-large;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(13, 243, 6);
    color: white;
    width: 200px;
    text-align: center;
    border-radius: 50px;
}
.contect{
    background-color: rgba(242, 65, 6, 0.712);
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title{
    font-size: large;
    font-weight: 900;
}
p{
    background-color: rgb(248, 245, 245);
    border-radius: 10px;
    color: white;
    padding: 10px;
    color: black;
}
.con{
    background-color: rgba(128, 128, 128, 0.644);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 700px;

}
